################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Release
/obj/Release
/obj/Dedicated Linux
/obj/Dedicated
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/SkyCoop.csproj.FileListAbsolute.txt
/obj/Debug/SkyCoop.csproj.CoreCompileInputs.cache
/obj/Debug/SkyCoop.csproj.AssemblyReference.cache
/.vs/SkyCoop/FileContentIndex/fc05e273-ad90-48c4-95db-f31739f8e74e.vsidx
/.vs/SkyCoop/FileContentIndex/dec4927e-aae6-42b2-b4c8-4211f4db55cb.vsidx
/.vs/SkyCoop/FileContentIndex/36818bf1-942c-4f83-855e-74ebcb581950.vsidx
/.vs/SkyCoop/FileContentIndex/21446d54-1b42-4ff8-9b99-e8e0dc7639ce.vsidx
/.vs/SkyCoop/v17/.suo
/.vs/SkyCoop/FileContentIndex
/.vs
/Output/Debug
/SkyCoopClient/.vs/SkyCoopClient
/SkyCoopClient/bin/Debug/net6.0
/SkyCoopClient/obj
/SkyCoopServer/bin/Debug/net6.0
/SkyCoopServer/obj
/obj
/SkyCoopClient/postbuild.cmd

# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/SkyCoopBundles/[Ll]ibrary/
/SkyCoopBundles/[Tt]emp/
/SkyCoopBundles/[Oo]bj/
/SkyCoopBundles/[Bb]uild/
/SkyCoopBundles/[Bb]uilds/
/SkyCoopBundles/[Ll]ogs/
/SkyCoopBundles/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/SkyCoopBundles/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /SkyCoopBundles/[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/SkyCoopBundles/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/SkyCoopBundles/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/SkyCoopBundles/[Aa]ssets/[Ss]treamingAssets/aa.meta
/SkyCoopBundles/[Aa]ssets/[Ss]treamingAssets/aa/*