{
    "Knockdowns": true,
    "PVP": true,
    "StartingGear":[
		{"Variants": ["GEAR_HeavyBandage"], "Units": 5},
		{"Variants": ["GEAR_Knife", "GEAR_KnifeImprovised", "GEAR_JeremiahKnife", "GEAR_KnifeScrapMetal"], "Units": 1}
	],
	"Time": 0,
	"LootPerRadialSpawn": 5,
	"HUDMode": "Shrink",
	"DeathPacks": true,
	"Respawns": false,
	"Clothing": true,
	"CanDropItems": true,
	"CanUseContainers": true	
}