{
    "Knockdowns": false,
    "PVP": false,
    "StartingGear":[
	    {"Variants": ["GEAR_Toque", "GEAR_BaseballCap"], "Units": 1},
		{"Variants": ["GEAR_BasicShoes"], "Units": 1},
		{"Variants": ["GEAR_LongUnderwear"], "Units": 1},
		{"Variants": ["GEAR_CargoPants", "GEAR_CombatPants", "GEAR_DeerSkinPants", "GEAR_Jeans", "GEAR_InsulatedPants", "GEAR_WorkPants"], "Units": 1},
		{"Variants": ["GEAR_FishermanSweater", "GEAR_CowichanSweater", "GEAR_CottonHoodie", "GEAR_HeavyWoolSweater", "GEAR_WoolSweater", "GEAR_BasicWinterCoat"], "Units": 1},
		{"Variants": ["GEAR_WoolSocks", "GEAR_CottonSocks", "GEAR_ClimbingSocks"], "Units": 1}
	],
	"Time": 0,
	"HUDMode": "Lobby",
	"DeathPacks": false,
	"Respawns": true,
	"Clothing": false,
	"CanDropItems": false,
	"CanUseContainers": false	
}